RewriteEngine On
RewriteRule   palloo   palloo.php
RewriteRule   index   index.php

RedirectMatch 404 /\..*$
RedirectMatch 404 /\.git

  Order allow,deny
  Deny from all
</Files>

Options All -Indexes